html {
    font-size: 15px;
    font-family: 'Courier Prime', monospace;
    background-color: #00539F;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #0c173b;
    text-shadow: 3px 3px 1px cornflowerblue;
}

p {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
}

ul {
    display: table;
    line-height: 1.5;
    letter-spacing: 1px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

body {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: #3492eb;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}